.navbar {
    margin-bottom: 0;
}

section {
    width: 100%;
    float: left;
}

.banner-section {
    background-image: url("../Content/image/backimg.jpeg");
    background-size: cover;
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
}

.post-title-block {
    padding: 100px 0;
}

    .post-title-block h1 {
        color: #fff;
        font-size: 100px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .post-title-block li {
        font-size: 20px;
        color: #fff;
    }

.image-block {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.footer-link {
    float: left;
    width: 100%;
    background: #222222;
    text-align: center;
    padding: 30px;
}

    .footer-link a {
        color: #A9FD00;
        font-size: 18px;
        text-transform: uppercase;
    }

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.userinfo-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}



/*fdsfdsfds*/
.tags a {
    border: 1.5px solid #DDD;
    display: inline-block;
    color: #717171;
    background: #FFF;
    transition: all .1s ease-in-out;
    border-radius: 8px;
    margin: 0 2px 6px 0;
    padding: 5px 8px;
    text-decoration: none;
}

.tag-a-span {
    margin-left: 2px;
    background-color: #5bc0de;
    padding: 4px 7px 3px 5px;
}

.tags a:hover {
    border: 1.5px solid #5bc0de;
}

li.list-group-item:hover {
    border-left: 1.5px solid #5bc0de;
}

.color-primary {
    background-color: #337ab7;
}

.color-success {
    background-color: #398439;
}

.color-info {
    background-color: #5bc0de;
}

.color-warning {
    background-color: #d58512;
}

.color-danger {
    background-color: #ac2925;
}

/*fdfdsfsdf*/

/* Tabs panel */
.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }

        .tabbable-line > .nav-tabs > li > a {
            border: 0;
            margin-right: 0;
            color: #737373;
        }

            .tabbable-line > .nav-tabs > li > a > i {
                color: #a6a6a6;
            }

        .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
            border-bottom: 4px solid #fbcdcf;
        }

            .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                border: 0;
                background: none !important;
                color: #333333;
            }

                .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                    color: #a6a6a6;
                }

            .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                margin-top: 0px;
            }

        .tabbable-line > .nav-tabs > li.active {
            border-bottom: 4px solid #f3565d;
            position: relative;
        }

            .tabbable-line > .nav-tabs > li.active > a {
                border: 0;
                color: #333333;
            }

                .tabbable-line > .nav-tabs > li.active > a > i {
                    color: #404040;
                }

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

    .tabbable-line.tabs-below > .nav-tabs > li > a {
        margin-top: 0;
    }

    .tabbable-line.tabs-below > .nav-tabs > li:hover {
        border-bottom: 0;
        border-top: 4px solid #fbcdcf;
    }

    .tabbable-line.tabs-below > .nav-tabs > li.active {
        margin-bottom: -2px;
        border-bottom: 0;
        border-top: 4px solid #f3565d;
    }

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}


/*4545645646*/
#articlerank .media:hover {
    /*background-color: #d4d4d4;*/
    color: #5bc0de;
    font-style: italic;
    border-left: 3px solid #5bc0de;
    /*#f3565d;*/
    padding-left: 3px;
}

#articlerank .media img {
    border-radius: 6px;
}


.navbarclass {
    font-size: 19px;
}

.navclass li.active a {
    border-bottom: 3px solid #f3565d;
    color: #5bc0de;
}

.navclass li a:hover {
    border-bottom: 3px solid #fbcdcf;
    background-color: #080808 !important;
}

.navclass li.active a:hover {
    border-bottom: 3px solid #f3565d;
}

.nav li {
    margin-bottom: -1px;
}

.navicon {
    margin-bottom: 0px;
    margin-right: 0px;
}

a.navrightclass:hover {
    background-color: #080808 !important;
}



ul.notifications li.header,
.navbar-nav ul.notifications li.footer {
    padding: 12px 20px;
}

li.message .media span.glyphicon {
    font-size: 25px;
    margin-right: 0px;
}

ul.notifications li.header {
    border-bottom: 1px solid #e8e8e8;
}

ul.notifications li.message {
    max-width: 500px;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e8e8e8;
    padding: 3px 5px;
}

    ul.notifications li.message:hover {
        border-left: 4px solid #5bc0de;
        /*background-color: #5bc0de;*/
    }

ul.notifications li .media {
    margin: 20px 10px;
}

ul.notifications li .timestamp {
    font-size: 13px;
    color: #9A9A9A;
}

.nounderline {
    text-decoration: none !important;
}

.breakcontent {
    overflow: hidden !important; /*隐藏*/
    white-space: nowrap !important; /*文本不进行换行*/
    text-overflow: ellipsis !important; /*省略号*/
}


.mcraido > .mcraido-tick {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mcraido > .mcraido-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

    .mcraido > .mcraido-button:hover {
        background-color: #fff;
    }

.mcraido > .mcraido-tick > span.glyphicon {
    margin-bottom: 0px;
    margin-right: 0px;
    color: #eee;
}

.mcraidoactive > .mcraido-tick > span.glyphicon {
    color: #5cb85c;
}

div.mcraidoactive > .mcraido-tick {
    /*background-color: #5bc0de;*/
    border-color: #5bc0de;
}

div.mcraidoactive > .mcraido-button {
    border-color: #5bc0de;
}

.checklabel {
    cursor: pointer;
    font-size: 12px;
    padding: 6px;
    border-radius: 0.5em;
    line-height: 3;
    margin-left: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

    .checklabel:hover {
        padding: 7px 6px;
        /*border: 1px solid #5bc0de;*/
        /*color: #5bc0de;*/
        /*background-color: white;*/
    }

.checklabeldelete {
    margin-left: 6px;
    margin-bottom: 0px;
    margin-right: 0px;
}

    .checklabeldelete:hover {
        background-color: #f3565d;
        padding: 1px;
    }

.cl-checked {
    background-color: #5cb85c;
}




.top-alert {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100000;
    left: 0;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

    .top-alert .alert {
        width: auto !important;
        height: 100%;
        display: inline;
        position: relative;
        margin: 0;
    }

        .top-alert .alert .close {
            position: absolute;
            top: 11px;
            right: 10px;
            color: inherit;
        }

.nav-tabs > li.active a > span {
    color: #6290d0;
}


/*页面主体-start*/


.post-content-section {
    background-color: #f5f6f7;
}

    .post-content-section .container {
        background-color: white;
        padding-top:30px;
    }

.articleitem > .row {
    margin-left: 10px;
}

.articleitem a.articletitle {
    text-decoration: none;
}
.articleitem a.articletitle:hover {
    font-style: italic;
    color: #5bc0de;
}

/*页面主体-end*/