
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article</title>
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/linearicons/style.css" />
    <link rel="stylesheet" href="~/Content/css/mian.css" />
</head>
<body>
    @*导航栏开始*@
    <nav class="navbar navbar-inverse  navbar-static-top navbarclass">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-weight:bold;margin-right:10px;">丢小七的博客</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navclass">
                    <li class="active"><a href="#">主页</a></li>
                    <li><a href="#about">统计</a></li>
                    <li><a href="#about">关于我</a></li>
                    <li><a href="#contact">联系</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="../navbar/">Default</a></li>
                        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navrightclass" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog navicon"></span> @*<span class="caret"></span>*@
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">文章</a></li>
                            <li><a href="#">评论</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">博客展示设置</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">个人信息设置</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navrightclass" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope navicon"></span> <span class="badge" style="margin-top: -25px;background-color:#f3565d;    margin-right: -9px;">100</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li class="header">
                                <strong>You have 7 new notifications</strong>
                            </li>
                            <li class="message">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="glyphicon glyphicon-flag text-danger"></span>
                                    </div>
                                    <div class="media-right">
                                        <a href="#" class="breakcontent nounderline">
                                            <p class="text">Your campaign <strong>Holiday Sale</strong> is starting to engage potential customers.</p>
                                            <span class="timestamp">24 minutes ago</span>
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li class="message">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="glyphicon glyphicon-comment text-info"></span>
                                    </div>
                                    <div class="media-right">
                                        <a href="#" class="breakcontent nounderline">
                                            <p class="text">Your campaign <strong>Holiday Sale</strong> is starting to engage potential customers.</p>
                                            <span class="timestamp">24 minutes ago</span>
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li class="message">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="glyphicon glyphicon-flag text-success"></span>
                                    </div>
                                    <div class="media-right">
                                        <a href="#" class="breakcontent nounderline">
                                            <p class="text">Your campaign <strong>Holiday Sale</strong> is starting to engage potential customers.</p>
                                            <span class="timestamp">24 minutes ago</span>
                                        </a>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    @*导航栏结束*@

    <section class="post-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <!--文章标题-->
                    <div class="col-12">
                        <h1 style="padding: 0 20px;color: #2c3033; font-size: 24px;  font-weight: 700;line-height: 38px;">接入层高性能缓存技术nginx+redis利器</h1>
                        <div class="row" style="padding: 0px 29px 10px 27px;margin-bottom:25px;border-bottom: 1px solid #e5e5e5;">
                            <div class="col-md-4">
                                <span class="badge" style="background-color:#a7a7a7;">Posted 2012-08-02 20:47:04</span>
                            </div>
                            <div class="pull-right" style="margin-right:5px;">

                                <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;3&nbsp;Comments</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;39&nbsp;Shares</a>
                            </div>
                        </div>
                    </div>
                    <!--文章标题-结束-->
                    <!--文章内容-->
                    <div class="col-12">
                        <p class="lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <div class="well ">
                            <large>This is image</large>
                        </div>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                        </blockquote>
                        <div class="image-block">
                            <img src="https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg" class="img-responsive">
                        </div>
                        <div class="image-block">
                            <img src="https://static.pexels.com/photos/268455/pexels-photo-268455.jpeg" class="img-responsive">
                        </div>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        
                    </div>
                    <!--文章内容-结束-->
                    
                    <!--文章标签-->
                    <div class="col-12" style="padding: 0px 20px 50px 10px;border-bottom: 1px solid #e5e5e5; margin-bottom: 20px;">
                        <div class="pull-right">
                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                            <span class="label label-danger">Danger</span>
                        </div>
                    </div>
                    <!--文章标签-结束-->

                </div>

                <div class="col-lg-3  col-md-3 col-sm-12">
                    <div class="well">
                        <h2>Subscription Box</h2>
                        <p>Form Description Goes here</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Share love</h2>
                        <ul class="list-inline">
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>

                        </ul>
                    </div>
                    <div class="well">
                        <h2>About Author</h2>
                        <img src="" class="img-rounded" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                        <a href="#" class="btn btn-default">Read more</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item active" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                        <a class="list-group-item" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                        <a class="list-group-item" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                    </div>
                    <div class="well">
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                    </div>
                </div>
            </div>

        </div> <!-- /container -->
    </section>
    <section class="footer-link"><a href="http://bootsnipp.com/grafreez" target="_blank">View Our All Snnips</a></section>

    <script src="../Content/jquery/jquery-3.2.1.js"></script>
    <script src="../Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>
