
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/Content/assets/vendor/summernote/summernote.css">
    <link rel="stylesheet" href="~/Content/linearicons/style.css" />
    <link rel="stylesheet" href="~/Content/css/mian.css" />
    <style type="text/css">
        .navbar {
            margin-bottom: 0;
        }

        section {
            width: 100%;
            float: left;
        }

        .banner-section {
            background-image: url("../Content/image/backimg.jpeg");
            background-size: cover;
            height: 380px;
            left: 0;
            position: absolute;
            top: 0;
            background-position: 0;
        }

        .post-title-block {
            padding: 100px 0;
        }

            .post-title-block h1 {
                color: #fff;
                font-size: 85px;
                font-weight: bold;
                text-transform: capitalize;
            }

            .post-title-block li {
                font-size: 20px;
                color: #fff;
            }

        .image-block {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .footer-link {
            float: left;
            width: 100%;
            background: #222222;
            text-align: center;
            padding: 30px;
        }

            .footer-link a {
                color: #A9FD00;
                font-size: 18px;
                text-transform: uppercase;
            }
    </style>
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse  navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog Name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <section class="banner-section"></section>
    <section class="post-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

                    <h1 class="text-center">post Title goes here</h1>
                    <ul class="list-inline text-center">
                        <li>Author |</li>
                        <li>Category |</li>
                        <li>Date |</li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-12">
                    <div class="well">
                        <h2>Subscription Box</h2>
                        <p>Form Description Goes here</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12" style="padding-bottom:0px;">
                    <div class="input-group input-group-lg col-4">
                        <span class="input-group-addon" id="basic-addon1" style="font-weight:bold;">标题</span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" style="font-weight:bold;">

                    </div>

                    <div class="summernote">

                    </div>
                </div>
                <div class=" col-lg-9 col-lg-offset-3 col-md-12 col-sm-12" style="padding-bottom:10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">选择分类</div>
                        <div class="panel-body" style="display:inline-block">
                            <div class="col-lg-2 col-md-2 col-xs-4">
                                <div class="input-group mcraido mcraidoactive " group="001">
                                    <span class="input-group-addon mcraido-tick" id="basic-addon1"><span class="glyphicon glyphicon-ok"></span></span>
                                    <button class="btn btn-default mcraido-button" type="submit" style="">Button</button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-4">
                                <div class="input-group mcraido mcraidoactive" group="001">
                                    <span class="input-group-addon mcraido-tick" id="basic-addon2"><span class="glyphicon glyphicon-ok"></span></span>
                                    <button class="btn btn-default mcraido-button" type="submit" style="">Button</button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-4">
                                <div class="input-group mcraido mcraidoactive" group="001">
                                    <span class="input-group-addon mcraido-tick" id="basic-addon3"><span class="glyphicon glyphicon-ok"></span></span>
                                    <button class="btn btn-default mcraido-button" type="submit" style="">Button</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- /container -->
    </section>
    <section class="footer-link"><a href="http://bootsnipp.com/grafreez" target="_blank">View Our All Snnips</a></section>

    <script src="../Content/jquery/jquery-3.2.1.js"></script>
    <script src="../Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script src="../Content/assets/vendor/summernote/summernote.min.js"></script>
    <script>
        $(function () {
            $('div.mcraido button').click(function () {
                var parent = $($(this).parent('div.mcraido:first')[0]);
                var group = parent.attr('group');
                var groupBtn = $('div.mcraido[group="' + group + '"]');
                groupBtn.each(function () {
                    if (!$(this).find('div.input-group').hasClass('mcraidoactive')) {
                        $(this).removeClass('mcraidoactive');
                    }
                });
                var has = parent.toggleClass('mcraidoactive');


            });

            // summernote editor
            $('.summernote').summernote({
                height: 300,
                focus: true,
                onpaste: function () {
                    alert('You have pasted something to the editor');
                }
            });

            // markdown editor
            var initContent = '<h4>Hello there</h4> ' +
                '<p>How are you? I have below task for you :</p> ' +
                '<p>Select from this text... Click the bold on THIS WORD and make THESE ONE italic, ' +
                'link GOOGLE to google.com, ' +
                'test to insert image (and try to tab after write the image description)</p>' +
                '<p>Test Preview And ending here...</p> ' +
                '<p>Click "List"</p> Enjoy!';

            $('#markdown-editor').text(toMarkdown(initContent));
        });

    </script>
</body>
</html>
