
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <style type="text/css">
        .navbar {
            margin-bottom: 0;
        }

        section {
            width: 100%;
            float: left;
        }

        .banner-section {
            background-image: url("../Content/image/backimg.jpeg");
            background-size: cover;
            height: 380px;
            left: 0;
            position: absolute;
            top: 0;
            background-position: 0;
        }

        .post-title-block {
            padding: 100px 0;
        }

            .post-title-block h1 {
                color: #fff;
                font-size: 100px;
                font-weight: bold;
                text-transform: capitalize;
            }

            .post-title-block li {
                font-size: 20px;
                color: #fff;
            }

        .image-block {
            float: left;
            width: 100%;
            margin-bottom: 0px;
        }

        .footer-link {
            float: left;
            width: 100%;
            background: #222222;
            text-align: center;
            padding: 30px;
        }

            .footer-link a {
                color: #A9FD00;
                font-size: 18px;
                text-transform: uppercase;
            }

        .glyphicon {
            margin-bottom: 10px;
            margin-right: 10px;
        }

        small {
            display: block;
            line-height: 1.428571429;
            color: #999;
        }

        .userinfo-name {
            color: #5a7391;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 7px
        }



        /*fdsfdsfds*/
        .tags a {
            border: 1.5px solid #DDD;
            display: inline-block;
            color: #717171;
            background: #FFF;
            transition: all .1s ease-in-out;
            border-radius: 8px;
            margin: 0 2px 6px 0;
            padding: 5px 8px;
            text-decoration: none;
        }

        .tag-a-span {
            margin-left: 2px;
            background-color: #5bc0de;
            padding: 4px 7px 3px 5px;
        }

        .color-primary {
            background-color: #337ab7;
        }

        .color-success {
            background-color: #398439;
        }

        .color-info {
            background-color: #5bc0de;
        }

        .color-warning {
            background-color: #d58512;
        }

        .color-danger {
            background-color: #ac2925;
        }

        /*fdfdsfsdf*/

        /* Tabs panel */
        .tabbable-panel {
            border: 1px solid #eee;
            padding: 10px;
        }

        /* Default mode */
        .tabbable-line > .nav-tabs {
            border: none;
            margin: 0px;
        }

            .tabbable-line > .nav-tabs > li {
                margin-right: 2px;
            }

                .tabbable-line > .nav-tabs > li > a {
                    border: 0;
                    margin-right: 0;
                    color: #737373;
                }

                    .tabbable-line > .nav-tabs > li > a > i {
                        color: #a6a6a6;
                    }

                .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
                    border-bottom: 4px solid #fbcdcf;
                }

                    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                        border: 0;
                        background: none !important;
                        color: #333333;
                    }

                        .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
                            color: #a6a6a6;
                        }

                    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                        margin-top: 0px;
                    }

                .tabbable-line > .nav-tabs > li.active {
                    border-bottom: 4px solid #f3565d;
                    position: relative;
                }

                    .tabbable-line > .nav-tabs > li.active > a {
                        border: 0;
                        color: #333333;
                    }

                        .tabbable-line > .nav-tabs > li.active > a > i {
                            color: #404040;
                        }

        .tabbable-line > .tab-content {
            margin-top: -3px;
            background-color: #fff;
            border: 0;
            border-top: 1px solid #eee;
            padding: 15px 0;
        }

        .portlet .tabbable-line > .tab-content {
            padding-bottom: 0;
        }

        /* Below tabs mode */

        .tabbable-line.tabs-below > .nav-tabs > li {
            border-top: 4px solid transparent;
        }

            .tabbable-line.tabs-below > .nav-tabs > li > a {
                margin-top: 0;
            }

            .tabbable-line.tabs-below > .nav-tabs > li:hover {
                border-bottom: 0;
                border-top: 4px solid #fbcdcf;
            }

            .tabbable-line.tabs-below > .nav-tabs > li.active {
                margin-bottom: -2px;
                border-bottom: 0;
                border-top: 4px solid #f3565d;
            }

        .tabbable-line.tabs-below > .tab-content {
            margin-top: -10px;
            border-top: 0;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }

        .MultiCarousel {
            float: left;
            overflow: hidden;
            padding: 15px;
            width: 100%;
            position: relative;
        }


/*4545645646*/
        #articlerank .media:hover {
            /*background-color: #d4d4d4;*/
            color: #5bc0de;
            font-style: italic;
            border-left: 3px solid #5bc0de;
            /*#f3565d;*/
            padding-left: 3px;
        }
        #articlerank .media img {
            border-radius:6px;
        }
    </style>
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse  navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog Name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <section class="banner-section"></section>
    <section class="post-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

                    <h1 class="text-center">post Title goes here</h1>
                    <ul class="list-inline text-center">
                        <li>Author |</li>
                        <li>Category |</li>
                        <li>Date |</li>
                    </ul>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12">

                    <hr />
                    @for (int i = 0; i < 5; i++)
                    {

                        <div class="row">
                            <div class="col-md-12">
                                @*<div >*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1>Alice in Wonderland, part dos</h1>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-md-4">
                                        <span class="badge">Posted 2012-08-02 20:47:04</span>
                                    </div>
                                    <div class="pull-right" style="margin-right:5px;">

                                        <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;3&nbsp;Comments</a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;39&nbsp;Shares</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail" style="margin-bottom:0px !important; margin-top:5px;">
                                            <img src="http://placehold.it/260x180" alt="">
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <p style="text-indent: 2em;">
                                            'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                                            'Yes, we went to school in the sea, though you mayn't believe it—'
                                            'I never said I didn't!' interrupted Alice.
                                            'You did,' said the Mock Turtle.
                                            'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                                            'Yes, we went to school in the sea, though you mayn't believe it—'
                                            'I never said I didn't!' interrupted Alice.
                                            'You did,' said the Mock Turtle.
                                            'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                                            'Yes, we went to school in the sea, though you mayn't believe it—'
                                            'I never said I didn't!' interrupted Alice.

                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }

                    <div class="row">
                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">
                            <div class="btn-group" role="group" aria-label="..." style="margin-left:10px;">
                                <div class="dropup">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        15 条/页
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="width:50px;">
                                        <li><a href="#">80 条/页</a></li>
                                        <li><a href="#">50 条/页</a></li>
                                        <li><a href="#">30 条/页</a></li>
                                        <li><a href="#">15 条/页</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btn-group" role="group" aria-label="..." style="margin-left:10px;">
                                <button type="button" class="btn btn-default">上一页</button>
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default" disabled="disabled">...</button>
                                <button type="button" class="btn btn-default">6</button>
                                <button type="button" class="btn btn-warning">7</button>
                                <button type="button" class="btn btn-default">8</button>
                                <button type="button" class="btn btn-default">9</button>
                                <button type="button" class="btn btn-default">10</button>
                                <button type="button" class="btn btn-default" disabled="disabled">...</button>
                                <button type="button" class="btn btn-default">100</button>
                                <button type="button" class="btn btn-default">下一页</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="..." style="margin-left:10px;">
                                <button class="btn btn-info" type="button">跳到</button>
                                <input class="form-control" type="text" style="padding:0px;width:50px;text-align:center;" placeholder="page" />
                            </div>


                        </div>
                    </div>



                </div>
                <!--下面是评论-->


                <div class="col-lg-3  col-md-3 col-sm-12">




                    <div class="well">

                        <img style="margin-bottom:20px;" src="../Content/image/userphoto.png" class=" center-block img-circle" />
                        <div class="userinfo-name" style=" text-align: center;">About Author</div>
                        <small style=" text-align: center;">
                            <cite title="四川省成都市">
                                中国, 成都 <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p style=" text-align: center;">
                            <i class="glyphicon glyphicon-gift">3 年2 月</i>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.example.com</a>
                            <br />
                            <a href="#" title="我的粉丝（当前用户未关注）"><i class="glyphicon glyphicon-heart" style="color: rgb(212, 106, 64);"></i>20K</a>
                            &nbsp;<span style="color:cornflowerblue">|</span>&nbsp;
                            <a href="#" title="我的关注"><i class="glyphicon glyphicon-user" style="color:cadetblue;"></i>20.3K</a>
                            &nbsp;<span style="color:cornflowerblue">|</span>&nbsp;
                            <a href="#" title="我的文章"><i class="glyphicon glyphicon-book" style="color:burlywood;"></i>8.99K</a>

                        </p>
                        <div class="profile-userbuttons" style="text-align: center;">
                            @*<div class="btn-group" role="group" aria-label="...">*@
                            <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-heart" style="margin-bottom:0px;"></i>关注我</button>
                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-envelope" style="margin-bottom:0px;"></span>联系我</button>
                            @*</div>*@

                        </div>
                    </div>


                    @* “我的分类”开始 *@
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <span class="glyphicon glyphicon-paperclip text-info"></span>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="userinfo-name">我的分类</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">Articles</a><span class="badge color-info ">1242</span></li>
                                    <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">News</a><span class="badge color-info ">0</span></li>
                                    <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">Newsletters</a><span class="badge color-info ">42</span></li>
                                    <li class="list-group-item"> <span class="glyphicon glyphicon-file text-info"></span><a href="#">Comments</a><span class="badge color-danger">42</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* “我的分类”结束 *@


                    @* “我的标签”开始 *@
                    <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <span class="glyphicon glyphicon-paperclip text-info"></span>
                                <a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <span class="userinfo-name">我的标签</span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                @* https://bootsnipp.com/snippets/xAKG *@
                                <div class="tags" style="padding:13px 13px;">
                                    @*<a href="#" class="success">CSS</a>
                                        <a href="#" class="primary">Java Script</a>
                                        <a href="#" class="info">jQuery</a>
                                        <a href="#" class="danger">HTML5</a>
                                        <a href="#" class="warning">CSS3</a>
                                        <a href="#" class="success">DEMO</a>
                                        <a href="#" class="danger">MVC4</a>
                                        <a href="#" class="info">ASP.Net</a>
                                        <a href="#" class="primary">C#</a>
                                        <a href="#" class="warning">WPF</a>
                                        <a href="#" class="primary">linq</a>
                                        <a href="#" class="success">Bootstrap</a>*@
                                    <a href="#" class="success">js <span class="badge tag-a-span color-info ">4</span></a>
                                    <a href="#" class="success">js <span class="badge tag-a-span color-info ">12</span></a>
                                    <a href="#" class="success">C# <span class="badge tag-a-span color-info ">54</span></a>
                                    <a href="#" class="success">C# <span class="badge tag-a-span color-info ">12</span></a>
                                    <a href="#" class="success">C# <span class="badge tag-a-span color-info ">12</span></a>
                                    <a href="#" class="success">Bootstrap <span class="badge tag-a-span color-info ">12</span></a>
                                    <a href="#" class="success">Bootstrap <span class="badge tag-a-span color-info ">12</span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    @* “我的标签”结束 *@

                    @* “我的档案”开始 *@
                    <div class="panel-group" id="mydocument" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading_mydocument">
                                <span class="glyphicon glyphicon-paperclip text-info"></span>
                                <a role="button" data-toggle="collapse" data-parent="#mydocument" href="#collapse_mydocument" aria-expanded="true" aria-controls="collapse_mydocument">
                                    <span class="userinfo-name">我的档案</span>
                                </a>
                            </div>
                            <div id="collapse_mydocument" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_mydocument">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-file text-info"></span>
                                        <a href="#">2017年12月</a>
                                        <span class="badge color-info ">1242</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-file text-info"></span>
                                        <a href="#">2017年10月</a>
                                        <span class="badge color-info ">0</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-file text-info"></span>
                                        <a href="#">2017年9月</a>
                                        <span class="badge color-info ">42</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-file text-info"></span>
                                        <a href="#">2017年1月</a>
                                        <span class="badge color-danger">42</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* “我的档案”结束 *@

                    <div class="tabbable-panel" id="articlerank" style="margin-bottom:20px;">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        推荐榜
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        阅读榜
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_3" data-toggle="tab">
                                        热评榜
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">

                                    <div class="media"> 
                                    <div class="media-left">
                                        <a href="#"> 
                                        <img src="../Content/image/articleimg.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> 
                                            </a> 
                                        </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.
                                                        </div>
                                    </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>

                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>


                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg03.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg03.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg03.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>

                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg03.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg03.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>

                                </div>
                                <div class="tab-pane" id="tab_default_3">
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg02.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body col-12"> <h4 class="media-heading">11111111我说就是类发撒范德萨发的</h4><p>11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒11111111我说就是类发撒</p></div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg02.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg02.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>

                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg02.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                                    <div class="media"> <div class="media-left"> <a href="#"> <img src="../Content/image/articleimg02.jpg" class="media-object" alt="64x64" style="width: 64px; height: 64px;" data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <h2>Subscription Box</h2>
                        <p>Form Description Goes here</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Share love</h2>
                        <ul class="list-inline">
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>

                        </ul>
                    </div>

                    <div class="list-group">
                        <a class="list-group-item active" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                        <a class="list-group-item" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                        <a class="list-group-item" href="#"> <h4 class="list-group-item-heading">List group item heading</h4> <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p> </a>
                    </div>

                    <div class="well">
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                        <div class="media"> <div class="media-left"> <a href="#"> <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;"  data-holder-rendered="true"> </a> </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla.</div> </div>
                    </div>
                </div>
            </div>

        </div> <!-- /container -->
    </section>
    <section class="footer-link"><a href="http://bootsnipp.com/grafreez" target="_blank">View Our All Snnips</a></section>
    <script src="../Content/jquery/jquery-3.2.1.js"></script>
    <script src="../Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.star').on('click', function () {
                $(this).toggleClass('star-checked');
            });

            $('.ckbox label').on('click', function () {
                $(this).parents('tr').toggleClass('selected');
            });

            $('.btn-filter').on('click', function () {
                var $target = $(this).data('target');
                if ($target != 'all') {
                    $('.table tr').css('display', 'none');
                    $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
                } else {
                    $('.table tr').css('display', 'none').fadeIn('slow');
                }
            });

        });
       
    </script>
</body>
</html>
